body{
    background-image: url('img/bganjay.png'); /* path ke gambarnya */
    background-size: cover;   /* biar nutup seluruh layar */
    background-repeat: no-repeat; /* biar gak ngulang */
    background-attachment: fixed;
}

.leftnavbar{
    height: 100px;
    width: 50%;
    padding-block: 10px;
    padding-inline: 50px;
}

.atastext{
    height: 70px;
    margin-top: 10px;
}

.textgiegiebone{
    font-family: 'Jersey 15', sans-serif;
    font-size: 60px;
    color: #ABC26E;
}

.rightnavbar{
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.navbar{
    background-color: white;
    height: 60%;
    width: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
}

.icon{
    width: 30px;
    height: 30px;
}

.wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 35%;
    padding-block: 60px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 400px;
    height: 550px;
    border-radius: 20px;
    padding-inline: 10%;
    padding-block: 100px;
    text-align: center;
}

.registertext{
    font-family: 'Jersey 15', sans-serif;
    font-size: 60px;
    color: #586D43;
     input::placeholder{
        font-family: jersey 15;
        color: #76573D;
    }
}

input::placeholder {
    color: #76573D;
}

.formregister{
    margin-top: 20%;
}

.submit{
     width: 100%;
    height: 40px;
    border-radius: 10px;
}

#username{
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

#password{
     width: 100%;
    height: 50px;
    border-radius: 10px;
}

input{
    border: none;          
    outline: none; 
}

@media (min-width: 763px){
    .wrapnavbar{
    display: flex;
    justify-content: center;
}
}

@media (min-width: 3000px){
    .navbar{
    background-color: white;
    height: 60%;
    width: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
    .wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 40%;
    padding-block: 140px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 600px;
    height: 700px;
    border-radius: 20px;
    padding-inline: 10%;
    padding-block: 100px;
    text-align: center;
}
.leftnavbar{
    height: 200px;
    width: 50%;
    padding-block: 10px;
    padding-inline: 50px;
}
.rightnavbar{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.icon{
    width: 50px;
    height: 50px;
}
.atastext{
    height: 100px;
    margin-top: 50px;
    margin-left: 100px;
}
}

@media (min-width: 1700px) and (max-width: 2999px){
    .navbar{
    background-color: white;
    height: 60%;
    width: 75%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 38%;
    padding-block: 140px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 500px;
    height: 600px;
    border-radius: 20px;
    padding-inline: 10%;
    padding-block: 100px;
    text-align: center;
}
}

@media (min-width: 1300px) and (max-width: 1699px){
    .navbar{
    background-color: white;
    height: 60%;
    width: 75%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 35%;
    padding-block: 140px;
    
}
}

@media (min-width: 1100px) and (max-width: 1299px){
    .navbar{
    background-color: white;
    height: 60%;
    width: 75%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 35%;
    padding-block: 140px;
    
}
}

@media (min-width: 1000px) and (max-width: 1099px){
    .navbar{
    background-color: white;
    height: 60%;
    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 30%;
    padding-block: 130px;
    
}
}

@media (min-width: 850px) and (max-width: 999px){
    .navbar{
    background-color: white;
    height: 60%;
    width: 97%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 27%;
    padding-block: 30px;
    
}
}

@media (min-width: 850px) and (max-width: 999px){
    .navbar{
    background-color: white;
    height: 60%;
    width: 97%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 27%;
    padding-block: 30px;
    
}
}

@media (min-width: 850px) and (max-width: 999px){
    .navbar{
    background-color: white;
    height: 60%;
    width: 97%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 27%;
    padding-block: 120px;
    
}
}

@media (min-width: 717px) and (max-width: 849px){
    .navbar{
    background-color: white;
    height: 60%;
    width: 97%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 27%;
    padding-block: 130px;
    
}
.leftnavbar{
    height: 100px;
    width: 50%;
    padding-block: 10px;
    padding-inline: 50px;
}
.rightnavbar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.icon{
    width: 25px;
    height: 25px;
}
}

@media (min-width: 720px) and (max-width: 762px){
    .wrapnavbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
    .navbar{
    background-color: white;
    height: 60%;
    width: 50%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-block: 30px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding-inline: 15%;
    padding-block: 100px;
    text-align: center;
}
.leftnavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-block: 100px;
    
}
.rightnavbar{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.icon{
    width: 25px;
    height: 25px;
}
}

@media (min-width: 682px) and (max-width: 719px){
    .wrapnavbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
    .navbar{
    background-color: white;
    height: 60%;
    width: 55%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-inline: 0px;
    padding-block: 30px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding-inline: 10%;
    padding-block: 100px;
    text-align: center;
}
.leftnavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-block: 100px;
    
}
.rightnavbar{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.icon{
    width: 25px;
    height: 25px;
}
}

@media (min-width: 600px) and (max-width: 681px){
    .wrapnavbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
    .navbar{
    background-color: white;
    height: 60%;
    width: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-block: 30px;
    padding-inline: 0px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding-inline: 10%;
    padding-block: 100px;
    text-align: center;
}
.leftnavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-block: 100px;
    
}
.rightnavbar{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.icon{
    width: 25px;
    height: 25px;
}
}

@media (min-width: 500px) and (max-width: 599px){
    .wrapnavbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
    .navbar{
    background-color: white;
    height: 60%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-block: 90px;
    padding-inline: 0px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding-inline: 10%;
    padding-block: 100px;
    text-align: center;
}
.leftnavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-block: 10px;
    padding-top: 95px;
    
}
.rightnavbar{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-top: 60px;
}

.icon{
    width: 25px;
    height: 25px;
}
}

@media (min-width: 400px) and (max-width: 499px){
    .wrapnavbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
    .navbar{
    background-color: white;
    height: 60%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-block: 90px;
    padding-inline: 0px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding-inline: 10%;
    padding-block: 100px;
    text-align: center;
}
.leftnavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-block: 10px;
    padding-top: 95px;
    
}
.rightnavbar{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-top: 60px;
}

.icon{
    width: 25px;
    height: 25px;
}
}

@media (min-width: 300px) and (max-width: 399px){
    .wrapnavbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
    .navbar{
    background-color: white;
    height: 60%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
    .wrapcardlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-block: 90px;
    padding-inline: 0px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 250px;
    height: 400px;
    border-radius: 20px;
    padding-inline: 10%;
    padding-block: 35px;
    text-align: center;
}
.leftnavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-block: 10px;
    padding-top: 95px;
    
}
.rightnavbar{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-top: 60px;
}

.atastext{
    height: 50px;
    margin-top: 10px;
}

.icon{
    width: 15px;
    height: 15px;
}
}