body{
    background-image: url('/img/bganjay.png'); /* path ke gambarnya */
    background-size: cover;   /* biar nutup seluruh layar */
    background-repeat: no-repeat; /* biar gak ngulang */
    background-attachment: fixed;
}

.wrapnavbar{
    display: flex;
    justify-content: center;
}

.leftnavbar{
    height: 100px;
    width: 50%;
    padding-block: 10px;
    padding-inline: 50px;
}

.atastext{
    height: 15px;
    margin-top: -155px;
}

.textgiegiebone{
    font-family: 'Jersey 15', sans-serif;
    font-size: 60px;
    color: #ABC26E;
}

.rightnavbar{
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.navbar{
    background-color: white;
    height: 60%;
    width: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
}

.wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 500px;
    padding-block: 30px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 400px;
    height: 550px;
    border-radius: 20px;
    padding-inline: 20%;
    padding-block: 50px;
    text-align: center;
}

.registertext{
    font-family: 'Jersey 15', sans-serif;
    font-size: 60px;
    color: #586D43;
     input::placeholder{
        font-family: jersey 15;
        color: #76573D;
    }
}

input::placeholder {
    color: #76573D;
}

.formregister{
    margin-top: 20%;
}

.submit{
     width: 100%;
    height: 40px;
    border-radius: 10px;
}

#username{
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

#password{
     width: 100%;
    height: 50px;
    border-radius: 10px;
}

#address{
     width: 100%;
    height: 50px;
    border-radius: 10px;
}

input{
    border: none;          
    outline: none; 
}
